body {
  background: #eee;
  font-family: sans-serif;
  padding: 10px;
}

.card {
  width: 400px;
  background: #771c1c;
  margin: 1px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}